body {
  display: inline;
  font-family: Arial;
}

.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

.cont{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.logo{
  width: 50px;
}

.cont h1{
  color: rgb(17, 104, 145);
}

.form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  /* background: rgb(109, 167, 193); */
  color: #03295b;
  font-weight: bolder;
  border: none;
  border-radius: 8%;
  box-shadow: rgb(109, 134, 193) 0px 2px 8px;
}

.card {
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}


.high {
  background: #ffe5e5;
  border: 2px solid red;
  color: black;
}

.low {
  display: inline-block;
  align-items: center;
  background: #e6ffe6;
  border: 2px solid green;
  color: black;
}

.error {
  color: red;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid black;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

/* Responsive */
@media (max-width: 600px) {
  .container {
    margin: 20px;
  }
}